/* .turn{
    text-align: center;
} */

.upperTable{
    margin-top:3.5em;
}
.outerContainer{
    height:60vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.innerContainer{
    display:grid;
    grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        grid-gap:10px;
}
.innerContainer button{
    border:1px solid black;
    background-color: grey;
}
.reset{
    position: absolute;
    z-index: 10;
    display:none;
}

.resetButtonTop {
    padding-bottom: 1em;
}
.resetButtonTop button {
    transform:rotate(180deg);
    font-size: 2em;
    margin:auto;
    display:block;
    visibility: hidden;


}
.resetButtonBottom{
    padding-top: 1em;
}
.resetButtonBottom button{
    font-size: 2em;
    margin:auto;
    display:block;
    visibility: hidden;

    
}
table{
    width:70vw;
    margin-left: auto;
    margin-right: auto;
}


.player1scorelabel{
    text-align: center;
        background-color: rgb(46, 203, 46);
        padding-block: 0.25em;
        font-size: 2.0em;
        font-weight: bolder;
        transform:rotate(180deg)
        
}
.player2scorelabel{
    text-align: center;
        background-color: rgb(255, 0, 0);
        padding-block: 0.25em;
        font-size: 2.0em;
        font-weight:bolder
}

