.turn{
    text-align: center;
}


.outerContainer{
    margin-top:2em;
    height:40vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.innerContainer{
    display:grid;
    grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        grid-gap:10px;
}
.reset{
    position: absolute;
    z-index: 10;
}
.resetBtn{
    font-size:7em;
    display:none;
}
table{
    width:70vw;
    margin-left: auto;
    margin-right: auto;
}

.score{
    text-align: center;
    
    font-size: 3.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid grey;
}
.playerTitle1{
text-align: center;
background-color:rgb(46, 203, 46);
padding-block: 0.5em;
font-size:2.5em
}
.playerTitle2 {
    text-align: center;
    background-color:rgb(255, 0, 0);
    padding-block: 0.5em;
    font-size: 2.5em;
}
.vsLabel{
    text-align: center;
       
        padding-block: 0.5em;
        font-size: 2.5em;
        border-bottom: 2px solid grey;
}
.player1scorelabel{
    text-align: center;
        background-color: rgb(46, 203, 46);
        padding-block: 0.25em;
        font-size: 3.5em;
        font-weight: bolder
        
}
.player2scorelabel{
    text-align: center;
        background-color: rgb(255, 0, 0);
        padding-block: 0.25em;
        font-size: 3.5em;
        font-weight:bolder
}

