body{
    background-color: #edda06;
}
.upperTable{
    margin-top:3.5em;
}
.outerContainer{
    height:60vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.innerContainer{
    display:grid;
    grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        grid-gap:10px;
}
.innerContainer button{
    border:2px solid black;
    background-color: grey;
}

.reset{
    position: absolute;
    z-index: 10;
    display:none;
}
.wonBannerGreen {
    font-size: 3.5em;
    transform:rotate(180deg);
    background-color: rgb(46, 203, 46);
    margin-right: 0.1em;
    
}
.wonBanner{
    font-size: 3.5em;
    color: black;
    
}
.wonBannerRed{
    font-size: 3.5em;
    background-color: rgb(255, 0, 0);
    margin-right: 0.1em;
    
}
.lostBannerGreen {
    font-size: 3.5em;
    transform: rotate(180deg);
    background-color:rgb(46, 203, 46);
    margin-left: 0.1em;
    
}
.lostBanner{
    font-size: 3.5em;
    color:black;
    
}
.lostBannerRed {
    font-size: 3.5em;
    background-color: #d50707;
    margin-left: 0.1em;
    
}

.resetButtonTop {
    padding-bottom: 1em;
    
    
}
.resetButtonTop button {
    transform:rotate(180deg);
    font-size: 2em;
    margin:auto;
    display:block;
    visibility: hidden;
    background-color: grey;
    color: black;
   


}
.resetButtonBottom{
    padding-top: 1em;
}
.resetButtonBottom button{
    font-size: 2em;
    margin:auto;
    display:block;
    visibility: hidden;
    background-color: grey;
    color:black;

    
}
table{
    width:70vw;
    margin-left: auto;
    margin-right: auto;
}


.player1scorelabel{
    text-align: center;
        background-color: rgb(46, 203, 46);
        padding-block: 0.25em;
        font-size: 2.0em;
        font-weight: bolder;
        transform:rotate(180deg);
        border:2px solid black;
        
}
.player2scorelabel{
    text-align: center;
        background-color: rgb(255, 0, 0);
        padding-block: 0.25em;
        font-size: 2.0em;
        font-weight:bolder;
        border: 2px solid black;
}

@media only screen and (min-width: 420px) and (orientation: portrait) {

    .wonBanner {
        font-size: 2.2em;


    }
    .lostBanner {
        font-size: 2.2em;

    }

}